HELP.md
target/
.mvn/wrapper/
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.idea
*.iws
*.iml
*.ipr

/mvnw.cmd
/mvnw
/.idea/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/starmed-api.iml
/.idea/vcs.xml
/.idea/workspace.xml
